
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: lightblue;
}

/* CONTENEDOR */

.contenedor {
    width: 70%;
    height: 100em;
    background-color: white;
    margin: 60px auto;
    position: relative;
}

/* CABECERA del CV */

.cabecera {
    width: 100%;
    height: 300px;
    background-color: #ebc9bb;
    margin-top: 100px;
    position: absolute;
}

.cabecera .nombre_apellido_profesion {
    margin: 100px 200px 100px 600px;
    text-align: center;
}

.cabecera .nombre_apellido_profesion h1 {
    font-weight: bold;
    font-size: 50px;
}

/* PARTE IZQUIERDA del CV */

.izquierda {
    width: 340px;
    height: 100em;
    background-color: #5b8f8f;
    margin-left: 60px;
    position: absolute;
}

.izquierda img {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    margin-top: 125px;
    margin-bottom: 45px;
    border: 4px solid white;
    border-radius: 50%;
    padding: 3px;
}

.izquierda .contenido_izquierda {
    height: 1160px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px 3px 3px 3px;
    font-size: 25px;
    color: white;
}

.izquierda .contenido_izquierda p {
    margin-left: 10px;
}

.izquierda .li_habilidades {
    margin-left: 10px;
    list-style:none;
}

.izquierda .li_contacto {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

/* Iconos del contacto */

.fa-phone:before{
    margin-right: 8px;
}

.fa-envelope:before{
    margin-right: 8px;
}

.fa-map-location-dot:before, .fa-map-marked-alt:before {
    margin-right: 8px;
}

/* PARTE DERECHA DEL CV */

.derecha {
    position: absolute;
    top: 420px;
    right: 20px;
    bottom: 20px;
    left: 420px;
    padding: 50px 10px 10px 10px;
    font-size: 25px;
}

.derecha .titulo_li {
    font-size: 28px;
    margin: 20px 0px 0px 10px;
    list-style: none;
}

.derecha .contenido_li {
    font-style: italic;
    margin-left: 10px;
    list-style: none;
}

.derecha .li_circle {   
    margin-left: 45px;
    
}

.fa-chevron-right:before {
    margin-right: 10px;
    color: #5b8f8f;
}

/* Titulos h3 */

h3 {
    font-size: 30px;
}

.titulo_estilo1 {
    margin: 10px 0px;

}

.titulo_estilo2 {
    margin: 50px 0px 10px 0px;
}